.topMargin{

    margin-top: 250px;
}
.tmShowvideos{

    margin-top: 8px;    
}
.leftmargin{

margin-left: 240px;
}
.width-{
    width: 20px;
}

.f{
    outline: 0;
  }
.red{
    color:red;
}
.videoHW{
    width: 955px;
    height: 1100px;
}

